<div class="col-12">
    <div class="card">
        <h5>Manage Missions</h5>
        <p-toast></p-toast>
        <p-toolbar class="mb-4">
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
            <ng-template pTemplate="right">
                <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
            </ng-template>
        </p-toolbar>
        <p-table [value]="clients" dataKey="id" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <button pButton icon="pi pi-fw {{isExpanded ? 'pi-minus' : 'pi-plus'}}" label="{{isExpanded ? 'Collapse All' : 'Expand All'}}" (click)="expandAll()"></button>
                <div class="flex table-header">
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem"></th>
                    <th pSortableColumn="nom">Client Name<p-sortIcon field="nom"></p-sortIcon></th>
                    <th>Logo</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-client let-expanded="expanded">
                <tr>
                    <td>
                        <button type="button" pButton pRipple [pRowToggler]="client" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td>{{client.nom}}</td>
                    <td><img [src]="'assets/demo/images/client/' + client.logo" [alt]="client.logo" width="100" class="shadow-4" /></td>
                    <td>
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editClient(client)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteClient(client)"></button>
                            <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded p-button-info mr-2" (click)="mailClient(client)"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-client>
                <tr>
                    <td colspan="4">
                        <div class="p-3">
                            <p-table #dt [value]="missions" dataKey="id" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['id_user','client_id','date_debut','date_fin','nombre_installation','moyen','type_installation','status']" [paginator]="true" [rowsPerPageOptions]="rowsPerPageOptions" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedMissions" selectionMode="multiple" [rowHover]="true" dataKey="id">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="id_user">Technicien<p-sortIcon field="id_user"></p-sortIcon></th>
                                        <th pSortableColumn="date_debut">Start Date<p-sortIcon field="date_debut"></p-sortIcon></th>
                                        <th pSortableColumn="date_fin">End Date<p-sortIcon field="date_fin"></p-sortIcon></th>
                                        <th pSortableColumn="nombre_installation">Installation Count<p-sortIcon field="nombre_installation"></p-sortIcon></th>
                                        <th pSortableColumn="moyen">Average<p-sortIcon field="moyen"></p-sortIcon></th>
                                        <th pSortableColumn="type_installation">Installation Type<p-sortIcon field="type_installation"></p-sortIcon></th>
                                        <th>Action</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-mission>
                                    <tr>
                                        <td>{{ getUserName(mission.id_user)}}</td>
                                        <td>{{mission.date_debut | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{mission.date_fin | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{mission.nombre_installation}}</td>
                                        <td>{{mission.moyen}}</td>
                                        <td>{{mission.type_installation}}</td>
                                        <td>
                                            <div class="flex">
                                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editMission(mission)"></button>
                                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteMission(mission)"></button>
                                                <button pButton pRipple icon="pi pi-envelope" class="p-button-rounded p-button-info mr-2" (click)="mailClient(client)"></button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="6">No missions found for this client.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </td>
                </tr>
            </ng-template>
            
        </p-table>
    </div>
</div>
